* {
    margin: 0;
    padding: 0;
}
table {
    border: 2px solid black;
    border-collapse: separate;
    width: 100%;
}
tr {
    border: 2px solid black;
}
td {
    border: 2px solid black;
}
.hideTR {
    display: none;
}
.prev, .next {
    cursor: pointer;
    font-size: 3em;
}
.next {
    float: right;
}
.prev {
    float: left;
}
.prev:hover, .next:hover {
    text-decoration: underline;
    color: blue;
}